<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorate="template.html"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css" />
</head>
<body>

<div layout:fragment="content" class="container-fluid">
    <main>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" th:text="${profileStudent.fullName}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <p class="mb-0">Age</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" th:text="${profileStudent.age}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" th:text="${profileStudent.email}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <p class="mb-0">Education</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" th:text="${profileStudent.school}"></p>
                                <p class="text-muted mb-0" th:text="${profileStudent.yearLevel}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone Number</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" th:text="${profileStudent.phoneNumber}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" th:text="${profileStudent.address}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-end">
                                <a class="btn btn-primary me-3" th:href="@{/user/editProfile(id=${profileStudent.getId()})}">Edit</a>
                                <a class="btn btn-secondary" th:href="@{/user/home}">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <h4>Transaction History</h4>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Transaction UID</th>
                                <th>Status</th>
                                <th>Borrow Date</th>
                                <th>Return Date</th>
                                <th>Book</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="transaction : ${profileStudent.transactions}">
                                <td th:text="${transaction.transactionUID}"></td>
                                <td th:text="${transaction.transactionStatus}"></td>
                                <td th:text="${transaction.borrowDate}"></td>
                                <td th:text="${transaction.returnDate}"></td>
                                <td th:text="${transaction.getBook().getTitle()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<script src="/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
